#!/bin/bash
##
##  Copyright (c) 2019-2024, ETH Zurich. All rights reserved.
##
##  Please, refer to the LICENSE file in the root directory.
##  SPDX-License-Identifier: BSD-3-Clause
##
#SBATCH --job-name="{{ jobName }}"
#SBATCH --account={{ account }}
#SBATCH --time=00:05:00
#SBATCH --nodes={{ ntasks }}
#SBATCH --ntasks-per-node=1
#SBATCH --partition={{ partition }}
#SBATCH --constraint={{ constraint }}
#SBATCH --error=slurm-{{ jobName }}-%j.err
#SBATCH --output=slurm-{{ jobName }}-%j.out
{% if reservation is not none %}
#SBATCH --reservation={{ reservation }}
{% endif %}

module load sarus daint-gpu ParaView

export workdir={{ jobDir }}
export final_output_dir={{ jobDir }}

cd {{ jobDir }}

module load sarus daint-gpu ParaView
for a in *.pyfrs; do
  if [ -s $a ]; then
     echo $a
     # file size greater than 0
     name=${a%%.pyfrs}
     if [ ! -s $name.vtu ]; then
         echo $name
         # export .pyfrs to .vtu
         sarus run --mount=type=bind,src=$(pwd),dst=/pyfr --workdir=/pyfr ethcscs/pyfr:1.12.0-cuda11.3-mpich3.1.4-ubuntu20.04 pyfr export inc-cylinder.pyfrm $a ${name}.vtu
     fi
  fi
done
srun pvbatch post_proc.py ${workdir}
convert  -delay 50 $(ls -v1 ${workdir}/imag*.png) ${final_output_dir}/imag.gif
