apiVersion: v1
items:
- apiVersion: v1
  kind: Service
  metadata:
    labels:
      io.kompose.service: minio
    name: minio
  spec:
    ports:
    - name: "9000"
      port: 9000
      targetPort: 9000
    selector:
      io.kompose.service: minio
  status:
    loadBalancer: {}
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    labels:
      io.kompose.service: minio
    name: minio
  spec:
    replicas: 1
    selector:
      matchLabels:
        io.kompose.service: minio
    strategy: {}
    template:
      metadata:
        labels:
          io.kompose.service: minio
      spec:
        containers:
        - args:
          - minio
          - server
          - /data
          env:
          - name: MINIO_ACCESS_KEY
            value: storage_access_key
          - name: MINIO_SECRET_KEY
            value: storage_secret_key
          image: minio/minio
          name: minio-k8-ci
          ports:
          - containerPort: 9000
          resources: {}
        restartPolicy: Always
  status: {}
kind: List
metadata: {}
