cryptography==44.0.2
markupsafe==2.1.2
Flask==2.3.2
PyJWT==2.4.0
requests==2.32.3
jaeger_client==4.5.0
Flask-Opentracing==1.1.0
gunicorn==23.0.0
Flask-Caching==2.1.0
python-json-logger==2.0.7
six==1.17.0