##
##  Copyright (c) 2019-2021, ETH Zurich. All rights reserved.
##
##  Please, refer to the LICENSE file in the root directory.
##  SPDX-License-Identifier: BSD-3-Clause
##
_format_version: "1.1"

plugins:
- name: jwt
  # global plugin: applies to all request
  config:
    #_comment: "MUST add exp (expiration), not enabled by default"
    claims_to_verify: [exp]
- name: request-termination
  route: reject
  config:
    status_code: 400
    message: "Invalid"
- name: zipkin
  config:
    http_endpoint: http://192.168.220.50:9411/api/v2/spans
    sample_ratio: 1
    include_credential: true
    traceid_byte_count: 16
    header_type: preserve
    default_header_type: jaeger
#    tags_header: Zipkin-Tags
- name: cors
  config:
    origins:
    - "*"
    methods:
    - GET
    - POST
    - PUT
    - DELETE
    headers:
    - Accept
    - X-Machine-Name
    - X-Task-Id
    - Authorization
    - Content-Type
    credentials: false
    max_age: 3600

consumers:
- username: firecrest
  custom_id: firecrest
    
jwt_secrets:
- consumer: firecrest
  key: http://localhost:8080/auth/realms/kcrealm
  algorithm: "RS256"
  rsa_public_key: "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqB44q32bQp8LbyW6dQvgsjseXESkLT1g5LQKGb+P79AC+nOAtxhn8i/kmgc6zsQH8NlUtNJruLxlzdo2/OGmlDGYZH1x6VmAwvJPJ4er0xPUrvZ8YclxYQC16PY5LFiQRNBMRyQwP5Kne1O46FpmADFVWMfoabdnaqoXexxB56b25o8tE2ulRBgfpnrRgZAvf7kWjugRCNO06FV074FVMYHA1aBk0ICyaFCDM/Tb5oaDyGr5c/ZvdrRUrw8vaiYyMgaAnnJPL75cebGoHeMJaEyZalsHA+iuhRAfeAwpSClsmhVqnfH7a7hqrqumVRo27dydqmfVgpFjU5gbFcBZ5wIDAQAB\n-----END PUBLIC KEY-----"

routes:
- name: reject
  # rejects any undefined route with 'request-termination' plugin
  paths:
  - /
  - /tasks/tasklist

services:
- name: compute
  url: https://192.168.220.9:5006
  routes:
  - name: compute
    methods: [DELETE,GET,POST]
    paths:
    - /compute/
- name: status
  url: https://192.168.220.4:5001
  routes:
  - name: status
    methods: [GET]
    paths:
    - /status/
- name: storage
  url: https://192.168.220.5:5002
  routes:
  - name: storage
    methods: [GET,POST]
    paths:
    - /storage/
- name: tasks
  url: https://192.168.220.6:5003
  routes:
  - name: tasks
    methods: [GET]
    paths:
    - /tasks
- name: utilities
  url: https://192.168.220.7:5004
  routes:
  - name: utilities
    methods: [DELETE,GET,POST,PUT]
    paths:
    - /utilities/
- name: reservations
  url: https://192.168.220.8:5005
  routes:
  - name: reservations
    methods: [DELETE,GET,POST,PUT]
    paths:
    - /reservations

