{% extends "demo_base.html" %}
{% block title %}Compute microservice{% endblock %}
{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<h1>
  Compute microservice
</h1>

<h2>Available actions</h2>

<ul>
  {% for a,l in actions %}
  <li><a href="compute/{{ l }}">{{ a }}</a></li>
  {% endfor %}

</ul>


{% endblock %}
