{% extends "demo_base.html" %}
{% block title %}Tasks microservice{% endblock %}
{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<h1>Tasks microservice</h1>
<h2>List of tasks</h2>
<table>
<tr><th>Task ID</th> <th>Description</th><th>Service</th><th>Status</th><th colspan="2">Last modify</th></tr>
{% for taskid in response.json()['tasks'] %}
  {% if response.json()['tasks'][taskid]['service'] == None %}

	{% continue %}
 {% endif %} 
 <tr>
	<td>{{ response.json()['tasks'][taskid]['hash_id'] }}</td>
	<td>{{ response.json()['tasks'][taskid]['description'] }}</td>
	<td>{{ response.json()['tasks'][taskid]['service'] }}</td>
	<td>{{ response.json()['tasks'][taskid]['status'] }}</td>
	<td>{{ response.json()['tasks'][taskid]['last_modify'] }}</td>
	<td><a href="tasks/{{ taskid }}"> Open task </a></td>


</tr>
{% endfor %}
</table>


{% endblock %}
